# Dependencies
node_modules/

# Build output
dist

# Database snapshot file (written by POST /database/dump and on startup)
stores/database.json

#IntelliJ IDEA
.idea/

# TypeScript incremental build cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example
